*{
  position: relative;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #747704;
}

/* to ensure these elements do not overflow their containers */
img, embed, object, video {
    max-width: 100%;
}

#nav-bar{
  position: relative;
  /*z-index: 10;*/
  /*width: 100%;*/
  margin: 0 auto;
  background-color: green;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}

#nav-container{
    width: 60.4%;
    margin: 0 auto;
    padding-top: 5px;
}
/*fixed class to keep nav bar on top when scrolling*/
#nav-bar.fixed{
  position: fixed;
  width: 60.4%;
  z-index: 10;
  top: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#contents.offset{
  position: relative;
  top: 100px;
}

.nav-btn{
  display: inline-block;
  width: 200px;
  line-height: 2.0;
  text-align: center;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  background-color: gray;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.nav-btn:hover{
  text-decoration: none;
  color: white;
  background-color: black;
}

.nav-btn:visited, .nav-btn:link{
  text-decoration: none;
  color: white;
}

.nav-btn:active{
  box-shadow: 1px 1px 1px black;
}


.nav-btn.active{
  background-color: black;
  box-shadow: 1px 1px 1px black;
}

#nav-social a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px black, -2px -2px 2px black;
  outline: none;
  font-size: 2rem;
  text-align: center;
}

#nav-social li{
  margin-right: 10px;
}

#nav-social i{
  top: 15%;
}


#portfolio{
  margin-top: 50px;
}

#featured h2{
  margin-bottom: 30px;
}

#featured div > .img-responsive:hover{
  cursor: pointer;
}

.feature {
   margin-bottom: 1.0em;
}


#projects ul{
  list-style-type: none;
}

#projects li{
  font-size: 1.5rem;
  line-height: 2.0;
}

#about{
  margin-top: 50px;
}

#about h2{
  margin-bottom: 30px;
}


#contact {
  position: relative;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

#contact h2{
  margin-bottom: 30px;
}

#contact form label{
  opacity: 0;
  z-index: -1;
}

#contact form input{
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#contact form textarea{
  display: block;
  width: 50%;
  margin-bottom: 20px;
  resize: none;
}

#contact form button{
  width: 20%;
  background-color: grey;
  color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  outline: none;
}

#contact form button:hover{
  background-color: black;
}

#contact form button:active{
  box-shadow: 1px 1px 1px black;
}

.noshow{
  display: none;
}

.header-align {
    margin-top: -0.25em;
}

.name {
    margin-top: -0.5em;
}

.logo {
    margin-top: 1.0em;
}


footer{
  margin: 0 auto;
}

footer p{
  margin: 0 30%;
  text-align: center;
}

.big-text {
    font-size: 4em;
}

.small-text{
    font-size: 1.6em;
}

.medium-text {
    font-size: 3em;
}

.thin-text {
    font-weight: 100;
}

.light-text {
    color: #bcbbbb;
}

.bar {
    background-color: #bcbbbb;
    height: 3px;
    margin-top: 0.75em;
    margin-bottom: 1.5em;
}

.project-link {
    text-decoration: none;
    font-weight: 300;
    color: #747704
}

.project-link:hover {
    text-decoration: none;
    font-weight: 300;
    color: purple;
}

.nav ul {
  display: inline-block;
  list-style-type: none;

}

.nav ul li{
  display: inline-block;
}
