body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #747704;
}

/* to ensure these elements do not overflow their containers */
img, embed, object, video {
    max-width: 100%;
}

#portfolio{

}

#featured div > .img-responsive:hover{
  cursor: pointer;
}

.feature {
   margin-bottom: 1.0em;
}


#projects ul{
  list-style-type: none;
}

#projects li{
  font-size: 1.5rem;
  line-height: 2.0;
}

#about{

}

#contact {
  position: relative;
  font-size: 2rem;
}

#contact form label{
  opacity: 0;
  z-index: -1;
}

#contact form input{
  display: block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

#contact form textarea{
  display: block;
  width: 50%;
  margin-bottom: 20px;
  resize: none;
}

#contact form button{
  width: 20%;
  background-color: #CEDAE2;
}

#contact form button:hover{
  background-color: #B8CBDA;
}

.noshow{
  display: none;
}

.header-align {
    margin-top: -0.25em;
}

.name {
    margin-top: -0.5em;
}

.logo {
    margin-top: 1.0em;
}


footer{
  margin: 0 auto;
}

footer p{
  margin: 0 30%;
  text-align: center;
}

.big-text {
    font-size: 4em;
}

.small-text{
    font-size: 1.6em;
}

.medium-text {
    font-size: 3em;
}

.thin-text {
    font-weight: 100;
}

.light-text {
    color: #bcbbbb;
}

.bar {
    background-color: #bcbbbb;
    height: 3px;
    margin-top: 0.75em;
    margin-bottom: 1.5em;
}

.project-link {
    text-decoration: none;
    font-weight: 300;
    color: #747704
}

.project-link:hover {
    text-decoration: none;
    font-weight: 300;
    color: purple;
}

.nav ul {
  display: inline-block;
  list-style-type: none;

}

.nav ul li{
  display: inline-block;
}
