/*about formating*/
#about{
    padding: 20px;
  }
  #about h2{
    margin-bottom: 30px;
  }
  
  #about img{
    height: 250px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
  }
  
  #about p{
    display: inline;
    float: right;
}