/*basic document settings*/
*,
*::after,
*::before {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

html {
    font-size: 62.5%; //1 rem = 10px: 10px/16px = 62.5%
}

  /* to ensure these elements do not overflow their containers */
img, embed, object, video {
    max-width: 100%;
}

body {
    box-sizing: border-box;
}
