$flip-card-speed: 0.4s;

/* flip card effect*/
.flip-container {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform-style: preserve-3d;
}
/* flip the pane*/
.is-fliped {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back,
.flip-img {
  width: 100%; /*320px;*/
  height: 19rem; /*190px;*/
  z-index: 5;
}
/* flip speed goes here */
.flipper {
  transition: $flip-card-speed;
  transform-style: preserve-3d;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*transition: height 0.6s ease;*/
  transition: $flip-card-speed;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  border: 2px solid $color-black;
  // border: 1px solid black;
}
/* front pane, placed above back */
.front {
  z-index: 6;
  /* for firefox 31 */
  overflow: hidden;
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  display: inline-block;
  transform: rotateY(180deg);
  overflow: hidden;
}

// .is-flipcard {
//   cursor: pointer;
// }
// .is-flipcard:hover {
//   box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
//   /* box-shadow: 4px 4px 20px 2px black;
//   -webkit-box-shadow: 4px 4px 20px 2px black; */
//   transition: box-shadow 0.25s;
// }
.is-front {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  transform: rotateY(0deg);
  z-index: 10;
  overflow: auto;
}
