/*about formating*/
#about{
    padding: 2rem;
  }
  #about h2{
    margin-bottom: 3rem;
  }
  
  #about img{
    height: 25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    float: left;
  }
  
  #about p{
    display: inline;
    float: right;
}